#formCliente {
  padding: 10px 0px 10px 50px;
}

/*Feito para dar um estilo um pouco diferente para os inputs*/
#id {
  border-radius: 5px;
  width: 70px;
}
#situacao {
  border-radius: 5px;
  width: 70px;
}
#nome {
  border-radius: 5px;
  width: 300px;
}
#telefone {
  border-radius: 5px;
  width: 120px;
}
#email {
  border-radius: 5px;
  width: 300px;
}
#observacao {
  border-radius: 5px;
  width: 300px;
}


/*Feito para alterar propriedades e espacamentos*/
#rodapeCliente {
  display: flex;
  justify-content: flex-start;

  padding-left: 50px;
  gap: 10px;
}

#btnVoltar {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;

  background: linear-gradient(100deg, gray, black);
}
#btnVoltar a {
  color: white;
}

#btnNovo {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;

  color: white;
  background: linear-gradient(100deg, gray, black);
}
#btnEditar {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;

  color: white;
  background: linear-gradient(100deg, gray, black);
}
#btnExcluir {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;

  color: white;
  background: linear-gradient(100deg, gray, black);
}
#btnConfirmar {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;

  color: white;
  background: linear-gradient(100deg, gray, black);
}
#btnCancelar {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;

  color: white;
  background: linear-gradient(100deg, gray, black);
}
#btnPesquisar {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;

  color: white;
  background: linear-gradient(100deg, rgba(0, 0, 255, 0.698), black);
}

#btnVoltar:hover,
#btnNovo:hover,
#btnEditar:hover,
#btnExcluir:hover,
#btnConfirmar:hover,
#btnCancelar:hover,
#btnPesquisar:hover {
  opacity: 0.7;
}

/* Estilo visual para botões desativados */
button:disabled,
#btnNovo:disabled,
#btnEditar:disabled,
#btnExcluir:disabled,
#btnConfirmar:disabled,
#btnCancelar:disabled {
  opacity: 0.5; /* deixa o botão “apagado” */
  cursor: not-allowed; /* muda o cursor para indicar que está bloqueado */
  filter: grayscale(50%); /* opcional: dá um tom acinzentado */
}
